<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div class="footer">
        <div class="firstline">
            <a   class="fir"><i class="fa-solid fa-globe"></i> English(IN)</a>
            <a class="fir"> <i class="fa-solid fa-indian-rupee-sign"></i> INR </a>
            <a class="fir"><i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-twitter"></i>
                <a class="fir1" href="https://www.instagram.com/shantanu_patil_02_?igsh=eHpiNTNna2FscGJv"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="mid-line">
            <a class="line">© 2025 wanderlust,inc.</a>
        </div>
        <div class="last-line">
            <a class="last" > privacy •</a>
            <a class="last" > Terms •</a>
            <a class="last" > Sitemap •</a>
            <a class="last" > Company details </a>
        </div>
    </div>
</body>
</html>